  <md-tabs md-selected="main.selectedIndex" layout-align="center center" md-border-bottom>
    <md-tab ng-repeat="tab in main.tabs"
            ng-disabled="tab.disabled"
            label="{{tab.title}}">
      <ng-include src="tab.view">
      </ng-include>
    </md-tab>
  </md-tabs>



<!--       <ng-md-icon icon="save" size="48"></ng-md-icon>
 -->


<!--   <div class="table-responsive-vertical shadow-z-1" layout-padding>
  <table id="table" class="table table-hover table-mc-light-blue" >
      <thead>
        <tr>
          <th>Price</th>
          <th>Expense</th>
          <th>Payment Day</th>
          <th>Payment Details</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="expense in main.expenses">
          <td data-title="price">{{ expense.key }}</td>
          <td data-title="expense">{{ expense.value }}</td>
          <td data-title="paymentDay">1</td>
          <td data-title="paymentDetails">To be payed in bank</td>
        </tr>
      </tbody>
    </table>
  </div>
 -->

